body {
  background-image: url("http://arsgrafik.s3.amazonaws.com/uploads/2009/12/victorian-damask-background-texture-white.jpg");
}

.board {
   border:100px ridge blue ;
   margin-left: 13vw;
}
.board th {
   border:10px solid navy;
   padding:5px;
}
.board td {
   border:0px
   padding:5px;
   width: 75px;
   height: 75px;
   text-align: center;
   font-size: 40px;
}
.aqua {
background-color: lightgray;
/*background-image: url("http://static.guim.co.uk/sys-images/Guardian/About/General/2009/9/21/1253535776474/Gary-Kasparov-and-Anatoli-001.jpg");*/
}
.sky {
background-color: darkgray;
}

i {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 1px;
}

h1 {
  font-family: courier;
  margin-left: 6vw;
}

nav {
  display: inline-block;
  margin-left: 37vw;
  letter-spacing: 8px;
  padding-top: 20px;
  font-size: 300%;
}

#play_pause:hover {
  cursor: pointer;
  color: blue;
}
#fast_forward:hover {
  cursor: pointer;
  color: blue;
}
#step_forward:hover {
    cursor: pointer;
    color:blue;
}
#rewind:hover {
  cursor: pointer;
  color:blue;
}
#step_backward:hover {
  cursor: pointer;
  color:blue;
}

#play_pause {
  font-size: 40px;
}
#fast_forward {
  font-size: 40px;
}
#step_forward {
  font-size: 40px;
}
#rewind {
  font-size: 40px;
}
#step_backward {
  font-size: 40px;
}
